singularity {
    enabled = true
    autoMounts = true
    cacheDir = '/camber/home/ivannovikau32295788/outputs/nextflow/singularity_cache'
    runOptions = '--writable-tmpfs -B /camber/home/ivannovikau32295788/outputs/nextflow'
}

process {
    beforeScript = '''
        umask 0022
        chmod +x .command.run || true
        chmod +x .command.sh || true
    '''
    stageInMode = 'copy'
}

env {
    TMPDIR = '/camber/home/ivannovikau32295788/outputs/nextflow/tmp'
    NXF_SINGULARITY_CACHEDIR = '/camber/home/ivannovikau32295788/outputs/nextflow/singularity_cache'
}