process {
  withLabel:process_medium {
    cpus   = { 10  * task.attempt}
    memory = {150.GB * task.attempt}
    time   = { 8.h * task.attempt}
  }
  withName:BISMARK_ALIGN {
    time = { 96.h }
    cpus  = { 48 }
    memory = { 320.GB }
  }
  withName:'.*BISMARK_DEDUPLICATE.*' {
    cpus   = { 12 }
    memory = { 320.GB }
    time   = { 48.h }
  }
}