process {
  withLabel:process_medium {
    cpus   = { 10     * task.attempt }
    memory = {150.GB * task.attempt }
    time   = { 8.h   * task.attempt }
  }
  withName:BISMARK_ALIGN {
    time = { 8.d * task.attempt }
    cpus  = { 48    * task.attempt }
    memory = { 320.GB * task.attempt }
  }
  withName:'.*BISMARK_DEDUPLICATE.*' {
    cpus   = { 12      * task.attempt }
    memory = { 320.GB  * task.attempt }
    time   = { 48.h   * task.attempt }
  }
}