singularity {
    enabled = true
    autoMounts = true
    cacheDir = '/home/ec2-user/data/nextflow/singularity_cache'
    runOptions = '--cleanenv --writable-tmpfs'
}

process {
    beforeScript = '''
        umask 0022
        chmod +x .command.run || true
        chmod +x .command.sh || true
    '''
}

env {
    TMPDIR = '/home/ec2-user/data/nextflow/tmp'
    NXF_SINGULARITY_CACHEDIR = '/home/ec2-user/data/nextflow/singularity_cache'
}